.card-container {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px; 
  padding: 16px;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 200px;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
}

.input-edit {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.color-button {
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-weight: bold;
  flex-direction: row;
  cursor: pointer;
  transition: background-color 0.3s;
}

.color-button:hover {
  background-color: #f0f0f0;
}

.addIcon {
  height: 10%;
  width: 10%;
  cursor: pointer;
}

span {
  cursor: pointer;
}

.dragging {
  padding: "16px";
  margin: "8px";
  border-radius: "8px";
  color: "#fff";
  text-align: "center";
  height: "100px";
  display: "flex";
  justify-content: "center";
  align-items: "center";
  cursor: "move";
}

.card-row{
  width: 100%;
}